<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
    <body>
        <form method="POST" action="/new">
            <label for="username">Username: </label>
            <input type="text" name="username" placeholder="Username">
            <label for="message">Message: </label>
            <input type="text" name="message" placeholder="Write your message here">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>